extends layout.pug

block links
  link(rel="stylesheet" href="../assets/css/addfood.css")


block content
  h1 Add New Food 
  form(action='/addfood', method='post')
    div(class='flex-inputs')
      label(id='name') Name/Brand/Flavor
      input(type='text', name='name', value='')
    br
    div(class='flex-inputs')
      label(id='volume') Volume in grams
      input(type='text', name='volume', value='')
    br
    div(class='flex-inputs')
      label(id='packageDailyEquivalent') Package portion of daily requirements 
      input(type='text', name='packageDailyEquivalent', value='')
    br
    br
    input(type='submit', value='Submit')