html
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel="icon" href="../favicon.ico")
  body
  .container
    h1 Tracker App
    p.lead Keep track of things
    br
    a(href="/auth/github") Login via Github
    br


