html
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel="icon" href="../favicon.ico")
  
  body
    nav
      a(href="/") Home   
      a(href="/logout") Logout
    main
      block content