html
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel="icon" href="../assets/favicon.ico")
    link(rel="stylesheet" href="../assets/css/layout.css")
    block links
  
  body
    nav
      a(href="/track") Track
      a(href="/stats") Stats
      a(href="/addfood") Add Food
      a(href="/account") Account
      if isAuthenticated 
        a(href="/logout") Logout
      else
        a(href="/auth/github") Login via Github
    main
      block content