extends layout.pug

block content
  h1 Track Pet Meals
  if user.foodtypes.length > 0 
    form(action='/track', method='post')  
      select(name="name")
        each food in user.foodtypes
          option(value=food.name) #{food.name}
      br 
      br 
      select(name="amount")  
        option(value='0.25') 0.25
        option(value="0.30") 0.30
        option(value="0.50") 0.50 
        option(value="0.50") 0.75 
        option(value="0.50") 1 
      br 
      br
      input(type='submit' value='Submit') 
  else
    a(href="/addfood") Add Food Types  